.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0077b6;
  padding: 10px 20px;
  color: #fff;
}

.navbar h2 {
  margin: 0;
  font-size: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
